html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@font-face {
    font-family: introRegular;
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/introRegular.ttf);
}

@font-face {
    font-family: introRegular;
    font-style: normal;
    font-weight: 700;  
    src: url(/fonts/introRegular.ttf);
}

@font-face {
    font-family: futurical;
    font-style: normal;
    font-weight: 400;  
    src: url(/fonts/futurical.ttf);
}

@font-face {
    font-family: niveaLight;
    font-style: normal;
    font-weight: 400;  
    src: url(/fonts/niveaLight.ttf);
}

@font-face {
    font-family: niveaBook;
    font-style: normal;
    font-weight: 400;  
    src: url(/fonts/niveaBook.ttf);
}

@font-face {
    font-family: niveaMedium;
    font-style: normal;
    font-weight: 700;  
    src: url(/fonts/niveaMedium.ttf);
}

body, html {
    height: 100%;
    width: 100%;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    margin-bottom: -60px;
}

.content {
    margin-top: 60px;
    min-height: 500px;
    margin-bottom: 80px;
}

nav {
    font-family: introRegular !important;
    height: 72px;
    padding-top: 10px;
    position: relative;
    overflow: hidden;
}

.nav-left {
    padding-left: 20px;
    width: 204px;
    float: left;
    height: 100%;
}

.main-logo {
    background-image: url(/img/main-logo.png);
    background-size: contain;
    width: 204px;
    height: 42px;
    display: block;
    float: left;
}

.nav-right {
    padding-right: 10px;
    float: right;
    width: 265px;
    height: 60px;
}

.icon-phone {
    float: left;
    background: url(/img/phone-icon.png) left center no-repeat;
    width: 40px;
    height: 60px;
    padding-right: 15px;
}

.phones {
    float: left;
    width: 210px;
    height: 60px;
}
.phone-skype {
    line-height: 30px;
    height: 30px;
    font-size: 24px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    border-top: 1px solid #000000;
    height: 59px;
    width: 100%;
    margin: 0 auto;
}

.footer-social-icons {
    float: right;
    padding-top: 15px;
    width: 200px;
    height: 33px;
}

.social-icon {
    margin: 0 7px 10px;
    width: 33px;
    height: 33px;
    display: block;
    float: left;
    background-size: contain;
}

.twitter {
    background-image: url(/img/twitter.png);
}

.facebook {
    background-image: url(/img/facebook.png);
}

.google {
    background-image: url(/img/google.png);
}

.vk {
    background-image: url(/img/vk.png);
}

.twitter:hover {
    background-image: url(/img/twitter_hover.png);
}

.facebook:hover {
    background-image: url(/img/facebook_hover.png);
}

.google:hover {
    background-image: url(/img/google_hover.png);
}

.vk:hover {
    background-image: url(/img/vk_hover.png);
}

.container {
    width: 1170px;
    min-height: 500px;
    margin: 0 auto;
}

.menu {
    position: absolute;
    width: 100px;
    font-size: 24px;
    top: 25px;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    left: 0;
    right: 0;
    cursor: pointer;
}

.main-navigation {
    height: 200px;
}

.main-navigation-item {
    width: 25%;
    float: left;
}

.main-navigation-item {
    text-align: center;
}

.caption {
    font-family: niveaLight !important;
    margin: 0 41px;
    font-size: 18px;
}

.caption h3{
    font-family: niveaMedium !important;
    font-weight: bold;
    font-size: 26px;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.slider {
    width: 100%;
    height: 120px;
    min-width: 700px;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: right;
    font-family: niveaLight !important;
}

.slider-big-text {
    font-size: 3em;
    margin: 10px 0;
    font-weight: bold;
    color: #072154;
}

.slider-small-text {
    font-size: 2em;
    color: #072154;
}

.contacts-button {
    position: fixed;
    top: 235px;
    border: 0;
    background: #071f4e;
    line-height: 30px;
    width: 200px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    margin-left: -85px;
    -o-transform: rotate(270deg);
    white-space: nowrap;
    display: block;
    font-size: 1.4em;
    color: white;
    font-family: futurical !important;

    z-index: 10001;
}

.wrap-menu {
    font-family: niveaBook !important;
    width: 100%;
    background: white;
    position: absolute;
    top: 81px;
    border-bottom: 1px solid #000000;
    height: 0px;
    overflow: hidden;
    z-index: 10002;
}

.wrap-menu-items {
    width: 1170px;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 120px;
}

.menu-item {
    float: left;
    margin-left: 20px;
    text-align: right;
    height: 120px;
}

.menu-item h2 {
    font-size: 21px;
    padding-left: 20px;
    font-weight: bold;
    padding-bottom: 5px;
}

.menu-item_links {
    line-height: 14px;
    border-left: 1px solid #000000;
    height: 75px;
    padding-left: 20px;
    padding-left: 16px;
}

.menu-item_links p {
    padding-bottom: 5px;
}

.menu-item:first-of-type div {
    border-left: 0px solid #000000;
    height: 900px;
}


/* PROMOTE */

.title-icons {
    width: 540px;
    height: 120px;
    margin: 0 auto;
    overflow: hidden;
}

.publicity_static {
    background-image: url(/img/publicity_static.png);
}

.promotion_static {
    background-image: url(/img/promotion_static.png);
}

.design_static {
    background-image: url(/img/design_static.png);
}

.marketing_static {
    background-image: url(/img/marketing_static.png);
}

.publicity_static:hover {
    background-image: url(/img/publicity_static_hover.png);
}

.promotion_static:hover {
    background-image: url(/img/promotion_static_hover.png);
}

.design_static:hover {
    background-image: url(/img/design_static_hover.png);
}

.marketing_static:hover {
    background-image: url(/img/marketing_static_hover.png);
}

.title-icon {
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    width: 200px;
    height: 155px;
}

.page_promotion {
    background-image: url(/img/promotion_hover.png);
}

.page_design {
    background-image: url(/img/design_hover.png);
}

.page_marketing {
    background-image: url(/img/marketing_hover.png);
}

.title-icon_main {
    float: left;
    width: 140px;
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
}

.title_text {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.promotion-body-block_1 {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.promotion-body-block_2 {
    text-align: center;
    margin-top: 25px;
    font-size: 26px;
    font-weight: bold;
}

.promotion-body-table {
    width: 800px;
    margin: 0 auto;
    margin-top: 15px;
    height: 120px;
    background: #d2d2d2;
    text-align: left;
}

.promotion-body-table-cell {
    padding: 15px;
    float: left;
    width: 170px;
    height: 100%;
    font-size: 18px;
    color: #072154;
    font-weight: bold;
    height: 90px;
}

.promotion-body-table-cell_number {
    border-right: 2px solid #bdb8b8;
    padding-right: 3px;
    float: left;
    width: 10px;
    height: 55px;
}

.promotion-body-table-cell_text {
    padding-left: 3px;
    float: left;
    width: 150px;
}

.promotion-body-block_3 {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
    color: #072154;
}

.promotion-body-block_4 {
    list-style-type: disc;
    width: 600px;
    margin: 10px auto 0;
    font-size: 18px;
}

.promotion-body-block_4 li {
    margin-bottom: 5px;
}

.promotion-body-block_5 {
    margin-top: 15px;
    text-align: center;
    font-size: 24px;
    color: #072154
}

.promotion-body-block_6 {
    width: 800px;
    margin: 10px auto 0;
    font-size: 18px;
    background: #d2d2d2;
}

.promotion-body-block_6 ul {
    width: 750px;
    margin: 0 auto;
    padding-left: 50px;
    padding-left: 10px;
    list-style-type: disc;
    line-height: 24px;
}

.promotion-body-block_7 {
    text-align: center;
    margin-top: 20px;
    font-size: 27px;
    color: #072154;
    font-weight: bold;
}

.promotion-body-table2 {
    width: 675px;
    margin: 0 auto;
    height: 100px;
    margin-top: 10px;
}

.promotion-body-table2-cell {
    float: left;
    width: 224px;
    height: 100%;
    font-size: 18px;
    color: #072154;
    height: 60px;
    text-align: center;
    border-left: 1px solid #072154;
}

.promotion-body-table2-cell:first-of-type {
    border-left: 0;
}

.promotion-body-table2-cell_title {
    font-weight: bold;
    font-size: 24px;
}

.promotion-body-block_8 {
    width: 800px;
    margin: 0 auto;
    font-size: 18px
}

.promotion-body-carusel {
    width: 800px;
    height: 200px;
    margin: 20px auto 0;
}

.promotion-body-carusel_first {
    width: 340px;
    height: 200px;
    background: #d2d2d2;
    float: left;
    margin-right: 40px;
}

.promotion-body-carusel_second {
    width: 340px;
    height: 200px;
    background: #d2d2d2;
    float: left;
}

.promotion-body-carusel_left {
    width: 40px; 
    height: 200px;
    float: left;
    background-image: url(/img/lg_rarrow.gif);
    background-position: center center;
    background-repeat: no-repeat;
}

.promotion-body-carusel_right {
    width: 40px; 
    height: 200px;
    float: left;
    background-image: url(/img/lg_larrow.gif);
    background-position: center center;
    background-repeat: no-repeat;
}

.promotion-body-block_9 {
    margin: 20px auto 0;
    width: 800px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
}

.promotion-body-button_order {
    width: 250px;
    background: #555555;
    height: 100%;
    color: white;
    display: inline-block;
}

.promotion-body-button_price {
    width: 250px;
    background: #555555;
    height: 100%;
    color: white;
    margin-left: 20px;
    display: inline-block;
}

.promotion-body-button_analysis {
    width: 250px;
    background: #555555;
    height: 100%;
    color: white;
    margin-left: 20px;
    display: inline-block;
}


/*  MARKETING PAGE  */

.marketing-body-block_2 {
    text-align: center;
    margin-top: 25px;
    font-size: 26px;
    font-weight: bold;
    color: #072154;
}

.marketing-body-block_3 {
    width: 800px;
    margin: 0 auto;
    height: 245px;
    margin-top: 20px;
    background-image: url(/img/marketing_diagram.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.marketing-body-block_6 {
    width: 800px;
    margin: 10px auto 0;
    font-size: 20px;
    background: #d2d2d2;
    color: #072154;
}

.marketing-body-block_6 ul {
    width: 750px;
    margin: 0 auto;
    padding-left: 50px;
    padding-left: 10px;
    list-style-type: disc;
    line-height: 26px;
}

.marketing-body-block_5 {
    width: 800px;
    margin: 0 auto;
    font-size: 19px;
    margin-top: 40px;
}

.marketing-body-block_5-item_number {
    width: 10px;
    text-align: center;
    color: #072154;
    float: left;
    height: 55px;
    padding-right: 3px;
    margin-right: 10px;
    border-right: 2px solid #dadada;
    font-weight: bold;
    font-size: 21px;
}

.marketing-body-block_5-item_text {
    width: 780px;
    text-align: justify;
    height: 69px;
}

.marketing-body-block_7 {
    text-align: center;
    font-size: 27px;
    color: #072154;
    font-weight: bold;
}

.marketing-body-block_8 {
    margin: 10px auto 0;
    width: 800px;
    font-size: 18px;
    line-height: 20px;
    padding: 20px 10px;
    background: #d2d2d2;
}

.marketing-body-block_9 {
    width: 600px;
    margin: 20px auto;
    height: 30px;
}

.marketing-body-block_9-item {
    height: 100%;
    width: 105px;
    display: inline-block;
    background-image: url(/img/logo_mebel.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 21px;
}

