html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@font-face {
    font-family: introRegular;
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/introRegular.ttf);
}

@font-face {
    font-family: futurical;
    font-style: normal;
    font-weight: 400;  
    src: url(/fonts/futurical.ttf);
}

@font-face {
    font-family: niveaLight;
    font-style: normal;
    font-weight: 400;  
    src: url(/fonts/niveaLight.ttf);
}

@font-face {
    font-family: niveaBook;
    font-style: normal;
    font-weight: 400;  
    src: url(/fonts/niveaBook.ttf);
}

@font-face {
    font-family: euroRegular;
    font-style: normal;
    font-weight: 400;  
    src: url(/fonts/euroRegular.ttf);
}

body, html {
    width: 100%;
    height: 100%;
}

.wrapper {
    margin-bottom: -60px;
    width: 100%;
    min-height: 100%;
}

.content {
    overflow: hidden;
    padding-bottom: 100px;
    font-family: niveaLight !important;
}

body.index .content {
    width: 1120px;
    margin: 60px auto 0;
}

body.promotion .content, body.design .content, body.contacts .content,
body.marketing .content, body.publicity .content, body.portfolio .content,
body.banners .content, body.support .content, body.auth .content, 
body.admin .content{
    width: 800px;
    margin: 60px auto 0;
}

/* CHECKOUT */
body.checkout .content, body.process-checkout .content {
    width: 800px;
    margin: 60px auto 0;
}

body.checkout .feedback-form, body.process-checkout .feedback-form {
    margin: 20px auto 0;
    float: none;
    overflow: hidden;
}

body.checkout .form-submit, body.process-checkout .form-submit {
    text-align: center;
}

body.checkout .form-submit input, body.process-checkout .form-submit input {
    float: none;
}

/* CHECKOUT  END*/

nav {
    height: 72px;
    padding-top: 10px;
    position: relative;
    overflow: hidden;
    min-width: 870px;
}

.nav-left {
    padding-left: 20px;
    width: 204px;
    float: left;
    height: 100%;
}

.main-logo {
    background-image: url(/img/main-logo.png);
    background-size: contain;
    width: 204px;
    height: 42px;
    display: block;
    float: left;
}

.nav-right {
    padding-right: 10px;
    float: right;
    width: 265px;
    height: 60px;
    font-family: euroRegular !important;
}

.icon-phone {
    float: left;
    background: url(/img/phone-icon.png) left center no-repeat;
    width: 40px;
    height: 60px;
    padding-right: 15px;
}

.phones {
    float: left;
    width: 210px;
    height: 60px;
}
.phone-skype {
    line-height: 30px;
    height: 30px;
    font-size: 24px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    border-top: 1px solid #000000;
    height: 59px;
    width: 100%;
    margin: 0 auto;
}

.footer-social-icons {
    float: right;
    padding-top: 15px;
    width: 200px;
    height: 33px;
}

.social-icon {
    margin: 0 7px 10px;
    width: 33px;
    height: 33px;
    display: block;
    float: left;
    background-size: contain;
}

.twitter {
    background-image: url(/img/twitter.png);
}

.facebook {
    background-image: url(/img/facebook.png);
}

.google {
    background-image: url(/img/google.png);
}

.vk {
    background-image: url(/img/vk.png);
}

.twitter:hover {
    background-image: url(/img/twitter_hover.png);
}

.facebook:hover {
    background-image: url(/img/facebook_hover.png);
}

.google:hover {
    background-image: url(/img/google_hover.png);
}

.vk:hover {
    background-image: url(/img/vk_hover.png);
}

.container {
    /* width: 100%; */
    margin: 0 auto;
    /* min-height: 500px; */
    min-width: 870px;
}

.menu {
    font-family: introRegular !important;
    position: absolute;
    width: 550px;
    font-size: 24px;
    top: 25px;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    left: 0;
    right: 0;
    cursor: pointer;
}

.main-navigation {
    height: 200px;
}

.main-navigation-item {
    width: 17%;
    float: left;
    cursor: pointer;
    text-align: center;
    margin: 0 41px;
}

.caption {
    font-size: 18px;
}

.caption h3{
    font-weight: bold;
    font-size: 23px;
    font-family: niveaBook !important;
}

/*.left-align {
    text-align: left;
    float: left;
}

.right-align {
    text-align: right;
    float: right;
}*/

.slider {
    width: 100%;
    height: 120px;
    min-width: 700px;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: right;
}

.slider-big-text {
    font-size: 3em;
    margin: 10px 0;
    font-weight: bold;
    color: #072154;
}

.slider-small-text {
    font-size: 2em;
    color: #072154;
}

.contacts-button {
    position: fixed;
    top: 235px;
    border: 0;
    background: #071f4e;
    line-height: 30px;
    width: 200px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    margin-left: -85px;
    -o-transform: rotate(270deg);
    white-space: nowrap;
    display: block;
    font-size: 1.4em;
    color: white;
    font-family: futurical !important;
    z-index: 10001;
    cursor: pointer;
}

.wrap-menu {
    font-family: niveaBook !important;
    width: 100%;
    background: white;
    position: absolute;
    top: 81px;
    border-bottom: 1px solid #000000;
    height: 0px;
    overflow: hidden;
    z-index: 10002;
}

.wrap-menu-items {
    width: 1170px;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 120px;
}

.menu-item {
    float: left;
    margin-left: 20px;
    text-align: right;
    height: 120px;
}

.menu-item h2 {
    font-size: 21px;
    padding-left: 20px;
    font-weight: bold;
    padding-bottom: 5px;
}

.menu-item h2 a:hover {
    color: #d2d2d2;
}

.menu-item_links {
    line-height: 14px;
    border-left: 1px solid #000000;
    height: 75px;
    padding-left: 20px;
    padding-left: 16px;
}

.menu-item_links p a:hover {
    color: #d2d2d2;
}

.menu-item_links p {
    padding-bottom: 5px;
}

.menu-item:first-of-type div {
    border-left: 0px solid #000000;
    height: 900px;
}


/* PROMOTION */

.title-icons {
    width: 540px;
    height: 120px;
    margin: 0 auto;
    overflow: hidden;
}

.publicity_static {
    background-image: url(/img/publicity_static.png);
}

.promotion_static {
    background-image: url(/img/promotion_static.png);
}

.design_static {
    background-image: url(/img/design_static.png);
}

.marketing_static {
    background-image: url(/img/marketing_static.png);
}

.publicity_static:hover {
    background-image: url(/img/publicity_static_hover.png);
}

.promotion_static:hover {
    background-image: url(/img/promotion_static_hover.png);
}

.design_static:hover {
    background-image: url(/img/design_static_hover.png);
}

.marketing_static:hover {
    background-image: url(/img/marketing_static_hover.png);
}

.title-icon {
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    width: 200px;
    height: 155px;
}

.page_promotion {
    background-image: url(/img/promotion_hover.png);
}

.page_design {
    background-image: url(/img/design_hover.png);
}

.page_marketing {
    background-image: url(/img/marketing_hover.png);
}

.page_publicity {
    background-image: url(/img/publicity_hover.png);
}

.title-icon_main {
    float: left;
    width: 140px;
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
}

.title_text {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: niveaBook !important;
}

.promotion-body-block_1 {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.promotion-body-block_2 {
    text-align: center;
    margin-top: 25px;
    font-size: 26px;
    font-weight: bold;
    font-family: niveaBook !important;
}

.promotion-body-table {
    width: 800px;
    margin: 0 auto;
    margin-top: 15px;
    /* height: 120px; */
    background: #d2d2d2;
    text-align: left;
    font-family: niveaBook !important;
    overflow: hidden;
}

.promotion-body-table-cell {
    padding: 15px;
    float: left;
    width: 170px;
    height: 100%;
    font-size: 18px;
    color: #072154;
    font-weight: bold;
    /* height: 90px; */
}

.promotion-body-table-cell_number {
    border-right: 2px solid #bdb8b8;
    padding-right: 3px;
    float: left;
    width: 10px;
    height: 55px;
}

.promotion-body-table-cell_text {
    padding-left: 3px;
    float: left;
    width: 150px;
}

.promotion-body-block_3 {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
    color: #072154;
    font-family: niveaBook !important;
}

.promotion-body-block_4 {
    list-style-type: disc;
    width: 600px;
    margin: 10px auto 0;
    font-size: 18px;
}

.promotion-body-block_4 li {
    margin-bottom: 5px;
}

.promotion-body-block_5 {
    margin-top: 15px;
    text-align: center;
    font-size: 24px;
    color: #072154
}

.promotion-body-block_6 {
    width: 800px;
    margin: 10px auto 0;
    font-size: 18px;
    background: #d2d2d2;
}

.promotion-body-block_6 ul {
    width: 750px;
    margin: 0 auto;
    padding-left: 50px;
    padding-left: 10px;
    list-style-type: disc;
    line-height: 24px;
}

.promotion-body-block_7 {
    text-align: center;
    margin-top: 20px;
    font-size: 27px;
    color: #072154;
    font-weight: bold;
    font-family: niveaBook !important;
}

.promotion-body-table2 {
    width: 800px;
    margin: 0 auto;
    height: 100px;
    margin-top: 10px;
}

.promotion-body-table2-cell {
    float: left;
    width: 266px;
    height: 100%;
    font-size: 17px;
    color: #072154;
    height: 60px;
    text-align: center;
    border-left: 1px solid #072154;
}

.promotion-body-table2-cell:first-of-type {
    border-left: 0;
}

.promotion-body-table2-cell_title {
    font-weight: bold;
    font-size: 24px;
    font-family: niveaBook !important;
}

.promotion-body-block_8 {
    width: 800px;
    margin: 0 auto;
    font-size: 18px
}

.promotion-body-carusel {
    width: 720px;
    height: 220px;
    overflow: hidden;
    margin: 0 auto;
}

.promotion-body-carusel_first {
    width: 340px;
    height: 200px;
    background: #d2d2d2;
    float: left;
    margin-right: 40px;
}

.promotion-body-carusel_second {
    width: 340px;
    height: 200px;
    background: #d2d2d2;
    float: left;
}

.promotion-body-carusel_left {
    width: 40px; 
    height: 200px;
    float: left;
    background-image: url(/img/lg_rarrow.gif);
    background-position: center center;
    background-repeat: no-repeat;
}

.promotion-body-carusel_right {
    width: 40px; 
    height: 200px;
    float: left;
    background-image: url(/img/lg_larrow.gif);
    background-position: center center;
    background-repeat: no-repeat;
}

.promotion-body-block_9 {
    margin: 20px auto 0;
    width: 800px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    font-family: niveaBook !important;
}

.promotion-body-button_order {
    width: 248px;
    background: #555555;
    height: 100%;
    color: white;
    display: inline-block;
}

.promotion-body-button_price {
    width: 250px;
    background: #555555;
    height: 100%;
    color: white;
    margin-left: 20px;
    display: inline-block;
}

.promotion-body-button_analysis {
    width: 250px;
    background: #555555;
    height: 100%;
    color: white;
    margin-left: 20px;
    display: inline-block;
}


/*  MARKETING PAGE  */

.marketing-body-block_2 {
    text-align: center;
    margin-top: 25px;
    font-size: 26px;
    font-weight: bold;
    color: #072154;
    font-family: niveaBook !important;
}

.marketing-body-block_3 {
    width: 800px;
    margin: 0 auto;
    height: 245px;
    margin-top: 20px;
    background-image: url(/img/marketing_diagram.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.marketing-body-block_6 {
    width: 800px;
    margin: 10px auto 0;
    font-size: 20px;
    background: #d2d2d2;
    color: #072154;
    font-family: niveaBook !important;
}

.marketing-body-block_6 ul {
    width: 750px;
    margin: 0 auto;
    padding-left: 50px;
    padding-left: 10px;
    list-style-type: disc;
    line-height: 26px;
}

.marketing-body-block_5 {
    width: 800px;
    margin: 0 auto;
    font-size: 19px;
    margin-top: 40px;
}

.marketing-body-block_5-item_number {
    width: 10px;
    text-align: center;
    color: #072154;
    float: left;
    height: 55px;
    padding-right: 3px;
    margin-right: 10px;
    border-right: 2px solid #dadada;
    font-weight: bold;
    font-size: 21px;
}

.marketing-body-block_5-item_text {
    width: 780px;
    text-align: justify;
    height: 69px;
}

.marketing-body-block_7 {
    text-align: center;
    font-size: 27px;
    color: #072154;
    font-weight: bold;
    font-family: niveaBook !important;
}

.marketing-body-block_8 {
    margin: 10px auto 0;
    width: 800px;
    font-size: 18px;
    line-height: 20px;
    padding: 20px 10px;
    background: #d2d2d2;
}

.marketing-body-block_9 {
    width: 800px;
    /* margin: 20px auto; */
    /* height: 30px; */
}

.marketing-body-block_9-item {
    height: 30px;
    width: 105px;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    /* margin: 0 20px; */
}

/* WEB DESIGN */

.design-body-block_1 {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}

.design-body-block_3 {
    width: 800px;
    margin: 10px auto 0;
    text-align: center;
    font-size: 18px;
}

.design-body-block_5 {
    text-align: center;
    margin-top: 20px;
    color: #072154;
    font-size: 30px;
}

/* PUBLICITY */

.publicity-body-block_2 {
    background-image: url(/img/pr-image.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 800px;
    height: 85px;
    margin: 0 auto;
}

.publicity-body-block_6 {
    width: 780px;
    margin: 10px auto 0;
    font-size: 17px;
    color: #072154;
    height: 150px;
}

.publicity-body-block_6 ul {
    width: 800px;
    padding-left: 50px;
    padding-left: 10px;
    list-style-type: disc;
    line-height: 26px;
}

.publicity-body-block_6 ul li {
    float: left;
    width: 380px;
}

/* CONTACTS */

body.contacts .container, body.process-feedback .container {
    width: 800px;
    margin: 0 auto;
    margin-top: 60px;
}

.title-contacts {
    width: 340px;
    margin: 20px 0;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    display: inline-block;
    /* float: left; */
}

.contacts-right-column_address {
    margin-left: 20px;
    width: 380px;
    float: left;
    font-size: 20px;
}

.contacts-right-column_phones {
    margin-top: 20px;
    margin-left: 20px;
    width: 380px;
    float: left;
    font-size: 25px;
    line-height: 25px;
    font-family: euroRegular !important;
}

.contacts-right-column_phone-icon_mts {
    background-image: url(/img/mts.png);
    background-position: left center;
    background-repeat: no-repeat;
    width: 25px;
    height: 30px;
    float: left;
    background-size: contain;
}

.contacts-right-column_phone-icon_vel {
    background-image: url(/img/vel.png);
    background-position: left center;
    background-repeat: no-repeat;
    width: 25px;
    height: 30px;
    float: left;
    background-size: contain;
}

.contacts-right-column_phone-icon_sky {
    background-image: url(/img/sky.png);
    background-position: left center;
    background-repeat: no-repeat;
    width: 25px;
    height: 30px;
    float: left;
    background-size: contain;
}

.contacts-right-column_phone-number {
    width: 330px;
    height: 30px;
    margin-left: 20px;
    float: left;
}

.feedback-form-content {
    width: 380px;
    float: left;
    margin-left: 20px;
}

.feedback-form-content input {
    width: 100%;
    height: 25px;
    line-height: 23px;
    border: 1px solid #dbdbdb;
    vertical-align: top;
    padding: 0px 4px;
    box-sizing: border-box;
}

.feedback-form-content textarea {
    width: 100%;
    max-width: 380px;
    height: 100px;
    line-height: 23px;
    border: 1px solid #dbdbdb;
    vertical-align: top;
    padding: 0px 4px;
    box-sizing: border-box;
    height: 100px;
}

.feedback-form-content .form-submit input {
    width: 200px;
    float: right;
    background: #555555;
    height: 30px;
    color: white;
    border: 1px solid #555555;
    line-height: 30px;
    font-size: 20px;
    margin: 0;
}

.feedback-form-content pre {
    text-align: center;
    font-size: 10px;
}

.contacts-right-column {
    width: 400px;
    height: 170px;
    float: left;
}

.feedback-form {
    width: 400px;
    float: left;
    margin-top: 5px;
}

.form-error {
    color: red;
    font-size: 10px;
    line-height: 24px;
    height: 24px;
}

.title-line {
    height: 10px;
    /* float: left; */
    width: 225px;
    display: inline-block;
    border-top: 1px solid #dadada;
}

/* PORTFOLIO */

.bx-controls-direction a {
    width: 40px !important;
    height: 60px !important;
    margin-top: -60px!important;
}

.bx-prev {
    background-image: url(/img/lg_larrow.gif);
    background-position: center center;
    background-repeat: no-repeat;
    left: -50px;
}

.bx-next {
    background-image: url(/img/lg_rarrow.gif);
    background-position: center center;
    background-repeat: no-repeat;
    right: -40px;
}

.portfolio-body-slider-item_control_right {
    width: 40px;
    height: 60px;
    float: left;
    margin-top: 220px;
    float: left;
}

.portfolio-body-slider {
    float: left;
    overflow: hidden;
}

.portfolio-body-slider-item {
    height: 550px;
}

.portfolio-body-slider-item_left {
    width: 365px;
    float: left;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.portfolio-body-slider-item_right {
    width: 320px;
    float: left;
    height: 460px;
    margin-left: 15px;
    background: #d2d2d2;
    overflow: hidden;
    padding: 20px 10px 20px 10px;
    font-size: 16px;
}

.portfolio-body-slider-item_right_activity {
    height: 80px;
    overflow: hidden;
}

.portfolio-body-slider-item_right_target {
    height: 48px;
    padding-top: 5px;
    overflow: hidden;
}

.portfolio-body-slider-item_right_sitelink {
    height: 17px;
    padding-top: 5px;
    overflow: hidden;
    text-decoration: underline;
    font-weight: bold;
}
.portfolio-body-slider-item_right_work {
    padding-top: 5px;
    height: 192px;
    overflow: hidden;
}

.portfolio-body-slider-item_right_review {
    height: 96px;
    padding-top: 5px;
    overflow: hidden;
}

.portfolio-body-slider-item .bx-wrapper {
    float: left;
}

.portfolio-body-slider-item .bx-wrapper .bx-viewport {
    margin-top: 0;
}

/* PROMOTION SLIDER */

.promotion-body-carusel_first_logo {
    background-repeat: no-repeat;
    width: 125px;
    height: 40px;
    background-size: contain;
    margin: 10px auto;
}

.promotion-body-carusel_first_activity {
    height: 80px;
    overflow: hidden;
    width: 320px;
    margin: 0 auto;
}

.promotion-body-carusel_second_sitelink {
    height: 17px;
    margin: 8px 0 0 10px;
    overflow: hidden;
    text-decoration: underline;
    font-weight: bold;
}

.promotion-body-carusel_second_portfolio_link {
    margin: 8px 0 0 10px;
    font-size: 20px;
    font-weight: bold;
}

.promotion-body-carusel_second_portfolio_link a {
    color: #072154;
}

.promotion-body-carusel_second_portfolio_link a:hover {
    text-decoration: underline;
}

.promotion-body-carusel_second_review_title {
    margin: 10px auto;
    font-weight: bold;
    font-size: 26px;
    width: 84px;
}

.promotion-body-carusel_second_review_text {
    height: 96px;
    overflow: hidden;
    width: 320px;
    margin: 0 auto;
}

.promotion-body-carusel_first_target {
    height: 48px;
    overflow: hidden;
    width: 320px;
    margin: 10px auto 0;
}

.promotion .bx-controls-direction a {
    margin-top: -30px!important;
}

/* BANNERS */

.banners-body-table {
    overflow: hidden;
    margin: 20px auto 0;
    width: 600px;
}

.banners-price-table {
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
}

.banners-price-table_head {
    font-weight: bold;
    border-bottom: 1px solid #dadada;
}

.banners-price-table_head, .banners-price-table_body_static,
.banners-price-table_body_animate {
    padding-top: 10px;
    overflow: hidden;
}

.banners-price-table_item {
    float: left;
    width: 105px;
    height: 20px;
    line-height: 20px;
}

.banners-price-table_item:first-of-type {
    text-align: left;
    width: 170px;
    font-weight: bold;
}