html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* FONTS */
@font-face {
    font-family: 'Conv_niveaLight';
    src: url('/fonts/niveaLight.eot');
    src: local('☺'), url('/fonts/niveaLight.woff') format('woff'), url('/fonts/niveaLight.ttf') format('truetype'), url('/fonts/niveaLight.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_niveaMedium';
    src: url('/fonts/niveaMedium.eot');
    src: local('☺'), url('/fonts/niveaMedium.woff') format('woff'), url('/fonts/niveaMedium.ttf') format('truetype'), url('/fonts/niveaMedium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_niveaBook';
    src: url('/fonts/niveaBook.eot');
    src: local('☺'), url('/fonts/niveaBook.woff') format('woff'), url('/fonts/niveaBook.ttf') format('truetype'), url('/fonts/niveaBook.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_introRegular';
    src: url('fonts/introRegular.eot');
    src: local('☺'), url('/fonts/introRegular.woff') format('woff'), url('/fonts/introRegular.ttf') format('truetype'), url('/fonts/introRegular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_euroRegular';
    src: url('/fonts/euroRegular.eot');
    src: local('☺'), url('/fonts/euroRegular.woff') format('woff'), url('/fonts/euroRegular.ttf') format('truetype'), url('/fonts/euroRegular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "futurical";
    font-style: normal;
    font-weight: 400;  
    src: url(/fonts/futurical.ttf);
}

/* END FONTS */

/* BODY */

body, html {
    width: 100%;
    height: 100%;
}

.wrapper {
    margin-bottom: -60px;
    width: 100%;
    min-height: 100%;
}

.container {
    margin: 0 auto;
}

body.portfolio .content, body.process-checkout .content, body.checkout .content,
body.support .content, body.contacts .content, body.pr .content,
body.marketing .content, body.design .content, body.promotion .content,
body.auth .content, body.admin .content, body.process-feedback .content,
body.brend .content {
    max-width: 800px;
}

body.checkouts .content, body.feedbacks .content {
    max-width: 1350px;
}

.content {
    overflow: hidden;
    font-family: Conv_niveaLight !important;
    padding: 5px 5px 100px 5px;
    margin: 60px auto 0;
}

body.index .content{
    max-width: 935px;
}

.headmeta {
    position: absolute;
    top: 67%;
}

.headmeta label {
    font-weight: bold;
}

/* END BODY */

/* CHECKOUT */

body.checkout .feedback-form {
    float: none;
    margin: 0 auto;
}

body.process-checkout .feedback-form {
    float: none;
    margin: 0 auto;
}

body.checkout .form-submit, body.process-checkout .form-submit {
    text-align: center;
}

body.checkout .form-submit input, body.process-checkout .form-submit input {
    float: none;
}

/* END CHECKOUT */

/* NAV AND MAIN MENU */

nav {
    height: 72px;
    padding-top: 10px;
    position: relative;
    overflow: hidden;
}

.nav-left {
    width: 250px;
    float: left;
}

.main-logo {
    background-image: url(/img/main-logo.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 250px;
    height: 42px;
    display: block;
}

.nav-right {
    padding-right: 10px;
    float: right;
    height: 60px;
    font-family: Conv_euroRegular !important;
    display: table;
}

.icon-phone {
    float: left;
    background: url(/img/phone-icon.png) left center no-repeat;
    width: 40px;
    height: 60px;
    padding-right: 15px;
}

.phones {
    float: left;
    height: 60px;
}
.phone-skype {
    line-height: 30px;
    height: 30px;
    font-size: 24px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

.wrap-menu {
    font-family: Conv_niveaBook !important;
    width: 100%;
    background: white;
    position: absolute;
    top: 81px;
    border-bottom: 1px solid #000000;
    height: 0px;
    overflow: hidden;
    z-index: 10002;
}

.wrap-menu-items {
    margin: 0 auto;
    display: table;
}

.menu-item {
    float: left;
    margin-left: 20px;
    text-align: right;
    height: 120px;
}

.menu-item h2 {
    font-size: 21px;
    padding-left: 20px;
    font-weight: bold;
    padding-bottom: 5px;
}

.menu-item h2 a:hover {
    color: #d2d2d2;
}

.menu-item_links {
    line-height: 14px;
    border-left: 1px solid #000000;
    height: 75px;
    padding-left: 20px;
    padding-left: 16px;
}

.menu-item_links p a:hover {
    color: #d2d2d2;
}

.menu-item_links p {
    padding-bottom: 5px;
}

.menu-item:first-of-type {
    margin-left: 0;
}

.menu-item:first-of-type h2 {
    padding-left: 0; 
}

.menu-item:first-of-type div {
    border-left: 0px solid #000000;
    padding-left: 0; 
}

.menu {
    background-image: url(/img/menu.png);
    background-repeat: no-repeat;
    height: 25px;
    background-position-x: right;
    font-family: Conv_introRegular !important;
    position: absolute;
    width: 115px;
    font-size: 24px;
    top: 25px;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    left: 0;
    right: 0;
    cursor: pointer;
}

/* END NAV AND MAIN MENU */ 

/* MAIN PAGE CONTENT */

.main-navigation {
    overflow: hidden;
    margin-top: 100px;
}

.main-navigation-item {
    min-width: 190px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 0 19px;
}

.caption {
    font-size: 18px;
}

.caption h3{
    font-weight: bold;
    font-size: 23px;
    font-family: Conv_niveaBook !important;
}

body.index .bx-viewport {
    height: auto !important;
}

.slider {
    overflow: hidden;
    text-align: right;
}

.slider-item {
    overflow: hidden;
}

.slider-big-text {
    font-size: 30px;
    font-weight: bold;
    color: #072154;
    margin-bottom: 30px;
}

.slider-small-text {
    font-size: 19px;
    color: #072154;
    margin-top: 5px;
}

.contacts-button {
    position: fixed;
    top: 235px;
    border: 0;
    background: #071f4e;
    line-height: 30px;
    width: 200px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    margin-left: -85px;
    -o-transform: rotate(270deg);
    white-space: nowrap;
    display: block;
    font-size: 1.4em;
    color: white;
    font-family: futurical !important;
    z-index: 10001;
    cursor: pointer;
}

/* END MAIN PAGE CONTENT */

/* FOOTER */

footer {
    border-top: 1px solid #000000;
    height: 59px;
    width: 100%;
    margin: 0 auto;
}

.footer-social-icons {
    float: right;
    padding-top: 15px;
    width: 200px;
    height: 33px;
}

.social-icon {
    margin: 0 7px 10px;
    width: 33px;
    height: 33px;
    display: block;
    float: left;
    background-size: contain;
}

.twitter:hover {
    background-image: url(/img/twitter.png);
}

.facebook:hover {
    background-image: url(/img/facebook.png);
}

.google:hover {
    background-image: url(/img/google.png);
}

.vk:hover {
    background-image: url(/img/vk.png);
}

.twitter {
    background-image: url(/img/twitter_hover.png);
}

.facebook {
    background-image: url(/img/facebook_hover.png);
}

.google {
    background-image: url(/img/google_hover.png);
}

.vk {
    background-image: url(/img/vk_hover.png);
}

/* END FOOTER */

/* PAGE TITLE */

.publicity_static {
    background-image: url(/img/pr_static.png);
}

.promotion_static {
    background-image: url(/img/promotion_static.png);
}

.design_static {
    background-image: url(/img/design_static.png);
}

.marketing_static {
    background-image: url(/img/marketing_static.png);
}

.publicity_static:hover {
    background-image: url(/img/pr_static_hover.png);
}

.promotion_static:hover {
    background-image: url(/img/promotion_static_hover.png);
}

.design_static:hover {
    background-image: url(/img/design_static_hover.png);
}

.marketing_static:hover {
    background-image: url(/img/marketing_static_hover.png);
}

.title-icons {
    width: 540px;
    height: 120px;
    margin: 0 auto;
    overflow: hidden;
}

.title-icon {
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    width: 200px;
    height: 155px;
}

.page_promotion {
    background-image: url(/img/promotion_hover.png);
}

.page_design {
    background-image: url(/img/design_hover.png);
}

.page_marketing {
    background-image: url(/img/marketing_hover.png);
}

.page_publicity {
    background-image: url(/img/pr_hover.png);
}

.title-icon_main {
    float: left;
    width: 140px;
    height: 120px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.title_text {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: Conv_niveaBook !important;
}

/* END PAGE TITLE */

/* BODY BLOCKS */

.magrin_top_20 {
    margin-top: 20px;
}

.magrin_top_10 {
    margin-top: 10px;
}

.body-background {
    background: #e8e8e8;
    padding: 15px 15px;
}

.body-color {
    color: #072154;
}

.body-block_1 {
    text-align: center;
    font-size: 19px;
}

.body-block_2 {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    font-family: Conv_niveaBook !important;
}

.body-block_3 {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #072154;
    font-family: Conv_niveaBook !important;
}

.body-ul_1 {
    list-style-type: disc;
    font-size: 18px;
    padding-left: 35px;
}

.body-ul_1 li {
    margin-bottom: 5px;
}

.body-block_4 {
    text-align: center;
    font-size: 24px;
    color: #072154
}

.body-block_5 {
    text-align: center;
    font-size: 27px;
    color: #072154;
    font-weight: bold;
    font-family: Conv_niveaBook !important;
}

.body-block_6 {
    font-size: 16px;
}

.body-block_7 {
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    font-family: Conv_niveaBook !important;
}

.body-button {
    width: 250px;
    background: gray;
    height: 100%;
    color: white;
    display: inline-block;
    margin: 10px auto;
}

.body-button:hover {
    background: #071f4e;
}

.body-block_8 {
    text-align: center;
}

.body-block_9 {
    text-align: center;
    font-size: 22px;
    color: #072154;
    font-family: Conv_niveaBook !important;
}

/* END BODY BLOCKS */

/* BODY TABLES */
.body-table {
    background: #e8e8e8;
    text-align: left;
    font-family: Conv_niveaBook !important;
    overflow: hidden;
}

.body-table-cell {
    padding: 10px;
    float: left;
    width: 180px;
    font-size: 17px;
    color: #072154;
    font-weight: bold;
    overflow: hidden;
}

.body-table-cell_number {
    border-right: 2px solid #bdb8b8;
    padding-right: 3px;
    float: left;
    width: 10px;
    height: 60px;
}

.body-table-cell_text {
    padding-left: 3px;
    float: left;
    width: 150px;
}

.body-table2 {
    margin: 0 auto;
    overflow: hidden;
}

.body-table2-cell {
    float: left;
    width: 265px;
    font-size: 17px;
    color: #072154;
    text-align: center;
    border-left: 1px solid #072154;
    margin: 10px auto;
}

.body-table2-cell:first-of-type {
    border-left: 0;
}

.body-table2-cell_title {
    font-weight: bold;
    font-size: 24px;
    font-family: Conv_niveaBook !important;
    margin-bottom: 10px;
}

.body-table3 {
    margin: 0 auto;
    font-size: 19px;
    margin-top: 40px;
}

.body-table3-item_number {
    width: 10px;
    text-align: center;
    color: #072154;
    float: left;
    height: 55px;
    padding-right: 3px;
    margin-right: 10px;
    border-right: 2px solid #dadada;
    font-weight: bold;
    font-size: 21px;
}

.body-table3-item_text {
    text-align: justify;
    margin-bottom: 15px;
}

.body-table4 {
    /* background: #e8e8e8; */
    text-align: left;
    font-family: Conv_niveaBook !important;
    overflow: hidden;
}

.body-table4-cell {
    padding: 10px;
    float: left;
    width: 245px;
    font-size: 17px;
    color: #072154;
    font-weight: bold;
    overflow: hidden;
}

.body-table4-cell_number {
    border-right: 2px solid #bdb8b8;
    padding-right: 3px;
    float: left;
    width: 10px;
    height: 40px;
}

.body-table4-cell_text {
    padding-left: 3px;
    float: left;
    width: 210px;
}

/* END BODY TABLES */

/* PROMOTION SLIDER */

.promotion-body-slider {
    width: 720px;
    overflow: hidden;
    margin: 0 auto;
}

.promotion-body-slider_first {
    width: 340px;
    background: #e8e8e8;
    float: left;
    margin-right: 40px;
}

.promotion-body-slider_second {
    width: 340px;
    height: 200px;
    background: #e8e8e8;
    float: left;
}

.promotion-body-slider_left {
    width: 40px; 
    height: 200px;
    float: left;
    background-image: url(/img/lg_rarrow.gif);
    background-position: center center;
    background-repeat: no-repeat;
}

.promotion-body-slider_right {
    width: 40px; 
    height: 200px;
    float: left;
    background-image: url(/img/lg_larrow.gif);
    background-position: center center;
    background-repeat: no-repeat;
}

.promotion-body-slider_first_logo {
    background-repeat: no-repeat;
    width: 125px;
    height: 40px;
    background-size: contain;
    margin: 10px auto;
}

.promotion-body-slider_first_activity {
    height: 80px;
    overflow: hidden;
    width: 320px;
    margin: 0 auto;
}

.promotion-body-slider_second_sitelink {
    height: 17px;
    margin: 8px 0 0 10px;
    overflow: hidden;
    text-decoration: underline;
    font-weight: bold;
}

.promotion-body-slider_second_portfolio_link {
    margin: 8px 0 0 10px;
    font-size: 20px;
    font-weight: bold;
}

.promotion-body-slider_second_portfolio_link a {
    color: #072154;
}

.promotion-body-slider_second_portfolio_link a:hover {
    text-decoration: underline;
}

.promotion-body-slider_second_review_title {
    margin: 10px auto;
    font-weight: bold;
    font-size: 26px;
    width: 84px;
}

.promotion-body-slider_second_review_text {
    height: 96px;
    overflow: hidden;
    width: 320px;
    margin: 0 auto;
}

.promotion-body-slider_first_target {
    height: 48px;
    overflow: hidden;
    width: 320px;
    margin: 10px auto 0;
}

.promotion .bx-controls-direction a {
    margin-top: -30px!important;
}

/* END PROMOTION SLIDER */ 

/* DESIGN SLIDER */

.design-body-slider {
    overflow: hidden;
}

.design-body-slider_row {
    overflow: hidden;
    width: 640px;
    margin: 0 auto;
}

.design-body-slider_item {
    width: 300px;
    height: 150px;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    float: left;
}

body.design .bx-controls-direction a {
    margin-top: -30px!important;
}

/* END DESIGN SLIDER */

/*  MARKETING IMAGE */

.marketing-body-image_part1 {
    width: 240px;
    margin: 0 auto;
    height: 210px;
    margin-top: 20px;
    background-image: url(/img/marketing_diagram_1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.marketing-body-image_part2 {
    width: 550px;
    margin: 0 auto;
    height: 210px;
    margin-top: 20px;
    background-image: url(/img/marketing_diagram_2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

/* END MARKETING IMAGE */

/* MARKETING SLIDER */

.marketing-body-slider {
    overflow: hidden;
}

.marketing-body-slider_item {
    height: 30px;
    width: 105px;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* END MARKETING SLIDER */

/* PR IMAGE */

.pr-body-image {
    background-image: url(/img/pr-image.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 85px;
    margin: 0 auto;
}

/* END PR IMAGE */

/* CONTACTS */

.title-contacts {
    width: 415px;
    margin: 20px 0;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    display: inline-block;
}

.contacts-right-column_address {
    margin-left: 20px;
    font-size: 20px;
}

.contacts-right-column_phones {
    margin-top: 20px;
    margin-left: 20px;
    width: 280px;
    float: left;
    font-size: 25px;
    line-height: 25px;
    font-family: Conv_euroRegular !important;
}

.contacts-right-column_phone-icon_mts {
    background-image: url(/img/mts.png);
    background-position: left center;
    background-repeat: no-repeat;
    width: 25px;
    height: 30px;
    float: left;
    background-size: contain;
}

.contacts-right-column_phone-icon_vel {
    background-image: url(/img/vel.png);
    background-position: left center;
    background-repeat: no-repeat;
    width: 25px;
    height: 30px;
    float: left;
    background-size: contain;
}

.contacts-right-column_phone-icon_sky {
    background-image: url(/img/sky.png);
    background-position: left center;
    background-repeat: no-repeat;
    width: 25px;
    height: 30px;
    float: left;
    background-size: contain;
}

.contacts-right-column_phone-number {
    width: 230px;
    height: 30px;
    margin-left: 20px;
    float: left;
}

.feedback-form-content input {
    width: 100%;
    height: 25px;
    line-height: 23px;
    border: 1px solid #dbdbdb;
    vertical-align: top;
    padding: 0px 4px;
    box-sizing: border-box;
}

.feedback-form-content textarea {
    width: 100%;
    max-width: 380px;
    height: 100px;
    line-height: 23px;
    border: 1px solid #dbdbdb;
    vertical-align: top;
    padding: 0px 4px;
    box-sizing: border-box;
    height: 100px;
}

.feedback-form-content .form-submit input {
    width: 200px;
    float: right;
    background: #555555;
    height: 30px;
    color: white;
    border: 1px solid #555555;
    line-height: 30px;
    font-size: 20px;
    margin: 0;
    cursor: pointer;
}

.feedback-form-content textarea:focus,
.feedback-form-content input:focus {
    outline: #072154 auto;
}

.feedback-form-content .form-submit input:hover {
    background: #072154;
}

.feedback-form-content pre {
    text-align: center;
    font-size: 10px;
}

.contacts-right-column {
    width: 400px;
    float: left;
    overflow: hidden;
}

.feedback-form { 
    width: 380px;
    float: left;
    margin-top: 5px;
    margin-left: 20px;
}

.form-error {
    color: red;
    font-size: 9px;
    line-height: 24px;
    height: 24px;
}

.title-line {
    height: 10px;
    width: 185px;
    display: inline-block;
    border-top: 1px solid #dadada;
}

/* END CONTACTS */

/* BANNERS NOT COMPLETE */

.banners-body-table {
    overflow: hidden;
    margin: 20px auto 0;
    width: 600px;
}

.banners-price-table {
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
}

.banners-price-table_head {
    font-weight: bold;
    border-bottom: 1px solid #dadada;
}

.banners-price-table_head, .banners-price-table_body_static,
.banners-price-table_body_animate {
    padding-top: 10px;
    overflow: hidden;
}

.banners-price-table_item {
    float: left;
    width: 105px;
    height: 20px;
    line-height: 20px;
}

.banners-price-table_item:first-of-type {
    text-align: left;
    width: 170px;
    font-weight: bold;
}

/* END BANNERS */

/* PORTFOLIO */

.bx-controls-direction a {
    width: 25px !important;
    height: 55px !important;
    margin-top: -60px!important;
}

.bx-prev {
    background-image: url(/img/lg_larrow.gif);
    background-position: center center;
    background-repeat: no-repeat;
    left: -45px;
}

.bx-next {
    background-image: url(/img/lg_rarrow.gif);
    background-position: center center;
    background-repeat: no-repeat;
    right: -40px;
}

.portfolio-body-slider-item_control_right {
    width: 40px;
    height: 60px;
    float: left;
    margin-top: 220px;
    float: left;
}

.portfolio-body-slider {
    width: 100%;
    float: left;
    overflow: hidden;
}

.portfolio-body-slider-item {
    overflow: hidden;
}

.portfolio-body-slider-item_left {
    height: 500px;
    float: left;
}

.portfolio-body-slider-item_right {
    width: 320px;
    float: left;
    height: 460px;
    margin-left: 15px;
    background: #d2d2d2;
    overflow: hidden;
    padding: 20px 10px 20px 10px;
    font-size: 16px;
}

.portfolio-body-slider-item_right_activity {
    height: 80px;
    overflow: hidden;
}

.portfolio-body-slider-item_right_target {
    height: 48px;
    padding-top: 5px;
    overflow: hidden;
}

.portfolio-body-slider-item_right_sitelink {
    height: 17px;
    padding-top: 5px;
    overflow: hidden;
    text-decoration: underline;
    font-weight: bold;
}
.portfolio-body-slider-item_right_work {
    padding-top: 8px;
    height: 189px;
    overflow: hidden;
}

.portfolio-body-slider-item_right_review {
    height: 96px;
    padding-top: 5px;
    overflow: hidden;
}

.portfolio-body-slider-item .bx-wrapper {
    float: left;
}

.portfolio-body-slider-item .bx-wrapper .bx-viewport {
    margin-top: 0;
}

.portfolio-body-slider-item_image {
    width: 365px;
    float: left;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* END PORTFOLIO */


/* BREND */

.brend-images-part-1 {
    width: 260px;
    display: inline-block;
    margin-left: 20px;
    height: 152px;
}

.brend-images-part-2 {
    width: 330px;
    display: inline-block;
    height: 152px;
}

.brend-images-part-3 {
    width: 170px;
    display: inline-block;
    height: 152px;
}

.brend-images-part-1_image {
    background-image: url(/img/brend_part_1.png);
    background-position: left center;
    background-repeat: no-repeat;
    height: 100px;
}

.brend-images-part-2_image {
    background-image: url(/img/brend_part_2.png);
    background-position: left center;
    background-repeat: no-repeat;
    height: 100px;
    margin-left: 30px;
}

.brend-images-part-3_image {
    background-image: url(/img/brend_part_3.png);
    background-position: left center;
    background-repeat: no-repeat;
    height: 100px;
    margin-left: 30px;
}

.brend-images-part-text {
    float: left;
}

.brend-arrow {
    background-image: url(/img/arrow_right.png);
    background-position: left center;
    background-repeat: no-repeat;
    height: 12px;
    width: 85px;
    float: left;
}

/* END BREND */

@media only screen 
and (max-width : 816px) {

    .body-table2-cell {
        float: none;
        border-left: 0;
        border-bottom: 1px solid #072154;
    }

    /* PROMOTION SLIDER */
    .promotion-body-slider_first {
        float: none;
        margin: 0 auto;
    }

    .promotion-body-slider {
        width: 340px;
    }

    .promotion-body-slider_second {
        float: none;
        margin: 0 auto;
    }

    /* END PROMOTION SLIDER */ 

    /* DESIGN SLIDER */

    .design-body-slider_row {
        width: 300px!important;
    }
    .design-body-slider_item {
        margin-left: 0;
        margin-right: 0;
    }

    /* END DESIGN SLIDER */

    /* MARKETING IMAGE */

    .marketing-body-image_part1 {
        width: 100%;
        height: 170px;
        display: block;
    }

    .marketing-body-image_part2 {
        width: 100%;
        height: 170px;
        display: block;
    }

    /* END MARKETING IMAGE */

    /* CONTACTS */

    .contacts-button {
        width: 0;
    }

    .google-map {
        width: 550px;
        height: 600px;
        float: none !important;
        display: block;
        margin: 0 auto;
    }

    .contacts-right-column_phones {
        overflow: hidden;
        margin: 0 auto;
        float: none;
    }

    .contacts-right-column_address {
        text-align: center;
    }

    .title-line {
        display: none;
    }

    .title-contacts {
        display: block;
        width: inherit;
    }

    .contacts-right-column {
        float: none;
        width: inherit;
    }

    .contacts-right-column_phones {
        overflow: hidden;
        margin: 0 auto;
        float: none;
    }

    .contacts-right-column_address {
        margin: 0;
        text-align: center;
    }

    .feedback-form {
        float: none;
        margin: 10px auto;
    }

    /* END CONTACTS */

    /* PORTFOLIO */

    .portfolio-body-slider-item_image {
        float: none;
        width: 320px;
        margin: 0 auto;
    }

    .portfolio-body-slider-item_right {
        float: none;
        width: 300px;
        margin: 0 auto;
    }

    .portfolio-body-slider-item_left {
        float: none;
        height: 445px;
        width: 320px;
    }

    .bx-controls-direction a {
        margin-top: -55px!important;
    }

    body.portfolio .bx-next {
        right: 0;
    }

    body.portfolio .bx-prev {
        left: 0;
    }

    /* END PORTFOLIO */

    /* BREND */

    .body-table4-cell {
        float: none;
    }

    .body-table4 {
        display: table;
        margin: 20px auto 0;
    }

    .brend-images-part-1, .brend-images-part-2, .brend-images-part-3 {
        display: block;
        margin: 0 auto;
        overflow: hidden;
        height: inherit;
        width: 300px;
    }

    .brend-images-part-1_image, .brend-images-part-2_image, .brend-images-part-3_image {
        background-position: center center;
        margin: 0;
    }

    .brend-images-part-text {
        float: none;
        text-align: center;
    }

    .brend-arrow {
        height: 85px;
        width: 12px;
        margin: 0 auto;
        float: none;
        background-image: url(/img/arrow_down.png);
    }
    
    /* END BREND */
}

@media only screen 
and (max-width : 640px) {

    /* NAV AND MAIN MENU */ 

    nav {
        height: 150px;
        padding: 0;
    }

    .nav-right {
        float: none;
        margin: 0 auto;
        padding: 0;
    }

    .nav-left {
        margin: 3px auto 10px;
        float: none;
        padding: 0;
    }

    .wrap-menu {
        top: 149px;
    }

    .menu {
        top: 118px;
        font-size: 22px;
    }

    .menu-item {
        float: none;
        margin: 0;
        text-align: center;
        height: auto;
    }

    .menu-item h2 {
        font-size: 18px;
        padding: 0;
    }

    .menu-item_links {
        border: 0;
        border-bottom: 1px solid #000000;
        padding: 0;
        min-height: 50px;
        height: auto;
    }

    .wrap-menu-items {
        padding-top: 20px;
    }

    /* END NAV AND MAIN MENU */ 

    /* MAIN PAGE CONTENT */

    .main-navigation-item {
        display: block;
        margin: 20px;
    }

    .slider-big-text {
        font-size: 20px;
    }

    .slider-small-text {
        font-size: 15px;
    }

    /* END MAIN PAGE CONTENT */

    /* PAGE TITLE */

    .title-icons {
        width: 320px;
    }

    .title-icon {
        width: 105px;
    }

    .title-icon_main {
        width: 110px;
    }

    /* END PAGE TITLE */

    .google-map {
        width: 97%;
        height: 400px;
        float: none !important;
    }
}

@media only screen 
and (max-width : 480px) {

    .body-table-cell {
        float: none;
    }
    .body-table {
        display: table;
        margin: 20px auto 0;
    }

    .promotion-body-slider, .promotion-body-slider_first,
    .promotion-body-slider_second {
        width: 310px;
    }

    .promotion-body-slider_first_activity, .promotion-body-slider_second_review_text,
    .promotion-body-slider_first_target {
        width: 300px;
    }

    .feedback-form {
        width: 315px;
    }
}